.button {
  width: 200px;
  height: 50px;
  margin: 4px;
  border-radius: 25px;
  border: none;
  font-family: 'Libre Franklin', sans-serif;
}

.button:focus {
  outline: none;
}

.button-dark {
  background-color: #2F5350;
  color: #C5E6E0;
  cursor: pointer;
}

.button-medium {
  background-color: #83C6BF;
  color: #DBFFF8;
  cursor: pointer;

}

.button-light {
  background-color: #C5E6E0;
  color: #2F5350;
  cursor: pointer;

}

body {
  background-color: #2F5350;
  height: 100%;
  width: 100%;
  margin: 0px;
}

#app {
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  width: 96%;
  margin: 1%;
  border-radius: 1em;;
  background-color: #E0F2EF;
  padding: 1%;
}

.centered {
  text-align: center !important;
  float: center !important;
}