.button {
  width: 20%;
  height: 3em;
  margin: 4px;
  border-radius: 25px;
  border: none;
  font-family: 'Libre Franklin', sans-serif;
  transition: .05s ease;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: brightness(105%);
}

.button:active {
  transform: scale(0.98);
  filter: brightness(95%);
}

.button:focus {
  outline: none;
}


.button-dark {
  background-color: #2F5350;
  color: #C5E6E0;
}

.button-medium {
  background-color: #83C6BF;
  color: #DBFFF8;

}

.button-light {
  background-color: #C5E6E0;
  color: #2F5350;

}

body {
  background-color: #2F5350;
  margin: 0px;
  margin-top: 0px;
}

.content-box {
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  width: 96%;
  margin: 1%;
  border-radius: 0.5em;;
  background-color: #E0F2EF;
  padding: 1%;
}

#app {
  font-family: 'Libre Franklin', sans-serif;
  height: 100%;
  width: 100%;
}

.centered {
  text-align: center !important;
  float: center !important;
}

.no-padding-no-margin {
  padding: 0;
  margin: 0;
}

.low-opacity {
  opacity: 0.7;
}


/* Track */
::-webkit-scrollbar-track {
  background: #E0F2EF; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2F5350; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(77, 124, 120); 
}