/* Consumer page styling */
.consumer-container-m {
    z-index: 2;
    width: 100vw;
    height: 100%;
}

.header-consumer-m {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0.5em;
    border-bottom: solid 2px grey;
}

.consumer-title-m {
    text-align: center;
}

.username-consumer-m {
    margin: 0px;
}

.button-header-consumer-m {
    width: 100% !important;
    height: 100% !important;
    background-color: #2F5350;
    color: #C5E6E0;
}

/* Upcoming bookings styling */
.booking-container-consumer-m {
    display: grid;
    width: 100%;
    grid-template-columns: 5% 90% 5%;
    height: 73vh; 
    overflow: scroll;
    margin-bottom: 15vh;
}

.upcoming-container-m {
    grid-column: 2;
}

.oldAppointments-container-m {
    grid-template-columns: 5% 90% 5%;
    grid-column: 2;
}

.apmtbox-consumer-m {   
    padding: 0.5em;
    color: #C5E6E0;
    background-color: #2F5350;
    height: 3em;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-columns: 50% 35% 15%;
    font: 100vw;
    width: 100;
    margin-bottom: 2vh;
    border-radius: 7px;
}

.apmtbox-type-consumer-m {
    grid-row: 1;
    height: 1vh;
}

.apmtbox-time-value-consumer-m::before {
    content: url(../resources/clockIcon.png);
}

.apmtbox-date-value-consumer-m {
    grid-row: 2;
    grid-column: 1;
    height: 1vh;
}

.apmtbox-time-value-consumer-m {
    grid-row: 2;
    grid-column: 2;
}

.cancelbtn-consumer-m {
    grid-row: 1/3;
    grid-column: 3;
    margin-bottom: 0.3em;
    background-color: #d35342;
    border: none;
    border-radius: 7px;
}

/* Previous bookings styling */
.previous-split-container-consumer-m{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20% 30% 30% 20%;
    height: 10vh;
    margin: 7%;
}

.splitline-consumer-m {
    height: 0px;
    width: 100%;
    border: solid 2px black;
    border-radius: 40%;
    grid-column: 1/4;
}

.previous-title-consumer-m {
    grid-column: 2;
    text-align: center;
}

.previous-consumer-m {
    color: #2F5350 !important;
    background-color: #83C6BF !important;
    border: none;
}

/* Footer consumer styling */
.footer-navbar-consumer-m {
    position: fixed;
    background-color: #C5E6E0;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 8% 54% 8% 15%;
    text-align: center;
    padding-top: 1.5vh;
    border-top: solid;
}

.home-icon-consumer-m {
    height: 100%;
    max-height: 40px;
    grid-column: 1;
}

.bookin-button-holder-consumer-m {
    height: 6vh;
    max-height: 40px;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    background-color: #2F5350;
    grid-column: 3;
    border-radius: 7px;
    padding-top: 2.5vh;
}

.booking-button-consumer-m {
    color: #C5E6E0;
    text-decoration: none;
}

.settings-holder-consumer-m {
    grid-column: 5;
}

.settings-consumer-m {
    height: 100%;
    max-height: 40px;
}