
.header-consumer-m {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0.5em;
    border-bottom: solid 2px grey;
}

.username-consumer-m {
    margin: 0px;
}

.button-header-consumer-m {
    width: 100% !important;
    height: 100% !important;
}

.apmtbox-consumer-m {
    border: solid 2px;
    margin: 1em;
    padding: 0.5em;
    background-color: aqua;
    height: 3em;
}

.apmtbox-type-consumer-m {
    margin-bottom: 0.3em;
    font-weight: bolder;
}

.apmtbox-date-consumer-m {
    display: inline-flex;
}

.apmtbox-time-consumer-m {
    display: inline-flex;
}

.cancelbtn-consumer-m {
    display: inline-flex;
    justify-content: right;
}