/* Consumer page styling */
.consumer-container-m {
    z-index: 2;
}

.header-consumer-m {
    display: grid;
    grid-template-columns: 75% 25%;
    padding: 0.5em;
    border-bottom: solid 2px grey;
}

.username-consumer-m {
    margin: 0px;
}

.button-header-consumer-m {
    width: 100% !important;
    height: 100% !important;
}

/* Upcoming bookings styling */
.apmtbox-consumer-m {
    border: solid 2px;
    margin: 1em;
    padding: 0.5em;
    background-color: aqua;
    height: 3em;
    display: grid;
    grid-template-rows: 70% auto;
    grid-template-columns: 30% auto 15%;
    font: 100vw;
    height: 15vw;
}

.apmtbox-type-consumer-m {
    font-weight: bolder;
    grid-row: 1;
}

.apmtbox-time-value-consumer-m::before {
    content: url(../resources/clockIcon.png);
}

.apmtbox-date-value-consumer-m {
    grid-row: 2;
    grid-column: 1;
}

.apmtbox-time-value-consumer-m {
    grid-row: 2;
    grid-column: 2;
}

.cancelbtn-consumer-m {
    margin-right: 0.6em;
    grid-row: 1/3;
    grid-column: 3;
    margin-bottom: 0.3em;
}

/* Previous bookings styling */
.previous-split-container-consumer-m{
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 20% 30% 30% 20%;
    height: 10vh;
    margin: 7%;
}

.splitline-consumer-m {
    height: 0px;
    width: 90%;
    border: solid 2px black;
    border-radius: 40%;
    grid-column: 2;
}

.previous-title-consumer-m {
    grid-column: 2;
    
}

.previous-consumer-m {
    background-color: lightgrey !important;
}