.employee-profile-picture {
    width: 50%;
    position: right;
}

.back-button-employee {
    float: left;
}

.styling-client-information {
    background-color: #C5E6E0;
    border-radius: 8px;
    padding: 1%;
}
.client-information {
    margin: 0 auto;
    float: center;
}