.emp-today-style {
    Background-color: #2F5350;
    color: #C5E6E0;
    margin: 0;
    padding: 1%;
    border-radius: 4px;
    text-align: center;
    max-width: 50%;
}

.back-button {
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    border-radius: 25px;
    max-width: 20%;
    float: left;
    
}

.back-button:focus {
    outline: none;
}