.emp-today-style {
    Background-color: #2F5350;
    color: #C5E6E0;
    padding: 1%;
    border-radius: 4px;
    text-align: center;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.back-button {
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    border-radius: 25px;
    width: 6em;
    float: left;
    
}

.back-button:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
}

.back-button:focus {
    outline: none;
}


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}