.emp-today-style {
    Background-color: #95c7be;
    color: #2F5350;
    padding: 1%;
    border-radius: 4px;
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    
    
}

.margin-box {
    margin-right: 30%;
    margin-left: 30%;
    margin-bottom: 3%;
}

.del-button {
    width: 8%;
    margin-left: 80%;
    transition: all 0.3s;
}

.del-button:hover {
    transform: rotate(20deg);
}


.back-button {
    font-family: 'Libre Franklin', sans-serif;
    border: none;
    border-radius: 25px;
    width: 6em;
    float: left;
    
}

.back-button:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
}

.back-button:focus {
    outline: none;
}


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 500px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}