.bookings-employee {
    background-color: #C5E6E0;
    color: #2F5350;
    border: 1px solid #C5E6E0;
    border-radius: 7px;
    margin: 3%;
    padding: 8% 30%;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
    transition: all 0.2s;
    box-sizing: border-box;
}

.bookings-employee2 {
  background-color: #C5E6E0;
  color: #2F5350;
  border: 1px solid #C5E6E0;
  border-radius: 7px;
  margin: 3%;
  padding: 8% 30%;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  transition: all 0.2s;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.bookings-employee2:focus {
  background-color: rgb(149, 199, 190);
}

.bookings-employee2:hover {
  border: 1px solid rgb(80, 116, 109);
}

.bookings-employee:focus {
    outline: none;
}

.booked-hours {
  background-color: #2F5350;
  color: #C5E6E0;
}

.button-employee {
    border-radius: 7px;
    background-color: #2F5350;
    color: #C5E6E0;
    height: 4em;
    text-align: center;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;
    cursor: pointer;
}

  .button-employee:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
  }

  .button-employee:focus {
    outline: none;
  } 

  .logout-employee-button {
    width: 6em;
    height: 2em;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
  }

  .logout-employee-button:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
    outline: none;
  }

.employee-title {
    font-size: 29px;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
  @media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}