.bookings-employee {
    border-radius: 7px;
    height: 3em;
    width: 95%;
    margin: 3%;
    padding: 1%;
    text-align: center;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
}

/* .bookings-employee:focus {
    background-color: rgb(90, 129, 127);
    color: rgb(210, 241, 236);
    outline: none;
} */

.button-employee {
    border-radius: 7px;
    background-color: #2F5350;
    color: #C5E6E0;
    height: 4em;
    text-align: center;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 100%;
    cursor: pointer;
}

  .button-employee:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
  }

  /* .button-employee:focus {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
    outline: none;
  } */

  .logout-employee-button {
    width: 6em;
    height: 2em;
    border-radius: 25px;
    border: none;
    text-align: center;
    font-family: 'Libre Franklin', sans-serif;
  }

  .logout-employee-button:hover {
    background-color: rgb(174, 212, 209);
    color: #2F5350;
    outline: none;
  }

.employee-title {
    font-size: 29px;
}



/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
  @media only screen and (max-width: 480px) {
	.span_3_of_3 {
		width: 100%; 
	}
	.span_2_of_3 {
		width: 100%; 
	}
	.span_1_of_3 {
		width: 100%;
	}
}