body {
    background-color: #C5E6E0 ;
    color: #294B48 ;
}


/* NAVIGATION MENU SECTION */

nav {
    width: 100%;
    display: flex;
    min-height: 8vh;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.logo{
    height: 100px;
    width: auto;
}

.logo-black {
    height: 50px;
    width: auto;
    display: none;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    z-index: 99;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 100%;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

.nav-links a:hover,
.nav-links a:active {
    border-bottom: 2px solid #2a6e69  ;
} 


/* STICKY NAVIGATION*/
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #C5E6E0;
    padding-top: 0px;
    box-shadow: 0 2px 2px rgb(175, 204, 199);
    z-index: 9999;
}

.sticky .nav-links a {
    text-decoration: none;
    color: #294B48;
}

.sticky .logo {display: none;}
.sticky .logo-black {display: block;}



/* BURGER NAVIGATION*/
.burger {
    display: none;
    cursor: pointer;
    padding-right: 20px;
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #294B48;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        margin: 0;
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        flex-direction: column;
        align-items: center;
        width: 50%;
        background-color: #C5E6E0;
        transform: translateX(100%); 
        transition: transform 0.5s ease-in;
    }
    .nav-links li {
        opacity: 0;
        
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinksFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line-1 {
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line-2 {
    opacity: 0;
}

.toggle .line-3 {
    transform: rotate(45deg) translate(-5px,-6px);
}





.row {
    max-width: 1240px;
    margin: 0 auto;
}

section {
    padding: 5px 0;
}

.front-page-header {
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../resources/Anderson-College-PTA-OTA041-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    
}

.hero-image h1 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 250%;
    font-weight: 300;
    
    letter-spacing: 1px;
    word-spacing: 4px;
}



.hero-image {
    position: absolute;
    min-width: 320px;
    top:50%;
    left: 30%;
    transform: translate(-25%, -25%);
}

.section-features, .opening-hours, .last-class {
    margin-top: 20px;
    font-size: 20px;
}

.section-features {
    margin-bottom: 120px;
}

.section-features h3 {
    font-size: 115%;
    text-align: center;
}

.introduction {
    margin-bottom: 80px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
}

.section-title:after {
    display: block;
    height: 2px;
    background-color :#294B48;
    content: " ";
    width: 120px;
    margin: 0 auto;
    margin-top: 10px;
}


.intro{
    line-height: 155%;
    text-align: center;
}

.feature-p {
    font-size: 80%;
}

.opening-hours p {
    text-align: center;
}

.opening-hours {
    background-color: #8AD0C8;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}


.test {
    min-height: 242px;
}

.btn {
    display: inline-block;
    padding: 15px 35px;
    text-decoration: none;
    background-color: #2a6e69 ;
    border-radius: 25px;
    color: #E0F2EF;
    font-size: 120%;
    transition: all 0.5s ease;
}  

.btn:hover {
    background-color: #3a9993;
}

.map {
    width: 100%;
    height: 300px;
    background-color: #2F5350;
}

/* IKONER */

.ion-icon {
    font-size: 300%;
    display: block;
    margin: auto;
}


@media screen and (max-width: 1070px) {
    .nav-links {
        padding-right: 20px;
    }
    .logo {
        height: 60px;
        padding-left: 20px;
    }
    .row {padding: 0 2%;}

    .priser-img {
        width: 570px;
        height: auto;
    }
}

@media screen and (max-width: 1035px) {
    .priser-img {
        width: 500px;
        height: auto;
    }
}

@media screen and (max-width: 940px) {
    .priser-img {
        width: 100%;
        height: auto;
    }
    
}

@media screen and (max-width: 768px) {
    .priser-img {
        width: 100%;
        height: auto;
    }
    .span_1_of_2 {
        width: 100%;
    }
    .span_1_of_4 {
        width: 47%;
    }
}

@media screen and (max-width: 542px) {
   
    .span_1_of_4 {
        width: 100%;
    }
}