.row {
    max-width: 1240px;
    margin: 0 auto;
}

section {
    padding: 5px 0;
}
.front-page-header {
    background-image: url(../resources/Anderson-College-PTA-OTA041-2.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100vw;
}

.box {
    
}


.hero-image {
    position: absolute;
    min-width: 320px;
    top:50%;
    left: 30%;
    transform: translate(-25%, -25%);
}

.section-features, .opening-hours, .last-class {
    margin-top: 20px;
    font-size: 20px;
}

.section-features h3 {
    font-size: 100%;
}
.intro{
    line-height: 145%;
    text-align: center;
}

.feature-p {
    font-size: 80%;
}

.hours-p {
    text-align: center;
}

.opening-hours {
    background-color: #8AD0C8;
}

.test {
    min-height: 230px;
    background-color: brown;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    background-color: #A6DBD4;
    border-radius: 25px;
    color: #2F5350;
}  
