.register-button {
    width: 6em;
    height: 2em;
    border-radius: 25px;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
}

.input-form {
    width: 70%;
    height: 2em;
    border: none;
    margin: 1%;
    padding: 2% 4%;
    font-family: 'Libre Franklin', sans-serif;
    border-radius: 6px;
    background-color: #2F5350;
    color: #C5E6E0;
    float: center;
}

.input-form::placeholder {
    color: #C5E6E0;
}

.login-button {
    background-color: #2F5350;
    color: #C5E6E0;
}