.register-button {
    width: 6em;
    height: 2em;
    border-radius: 25px;
    border: none;
    font-family: 'Libre Franklin', sans-serif;
}

.login-btn {
    position: relative;
    display: inline-block;
    width: 60%;
    left: 22%;
    box-sizing: border-box;
    padding: 15px 80px;
    text-decoration: none;
    border: none;
    background-color: #2F5350 ;
    border-radius: 25px;
    color: #E0F2EF;
    font-size: 90%;
    transition: all 0.5s ease;
    cursor: pointer;
}

.input-form {
    width: 60%;
    height: 5%;
    border: none;
    margin: 1%;
    padding: 2% 4%;
    font-family: 'Libre Franklin', sans-serif;
    border-radius: 6px;
    background-color: #2F5350;
    color: #C5E6E0;
    float: center;
}

.input-form:focus {
    outline: none;
}

.input-form::placeholder {
    color: #C5E6E0;
}

.login-button {
    outline: none;
    background-color: #2F5350;
    color: #C5E6E0;
}

@media screen and (max-width: 768px) {
    .login-picture {
        display: none;
    }
}